<h1>Welcome!</h1>
<p>This is a CRUD application that will allow you to store a list of your favorite books</p>
<p>You can add books to your list, update them, or delete them!</p>
<br>
<br>
<br>
<br>
Ready to get started? 
<br>
<br>
<%= link_to 'Access Booklist!', controller: 'books' %>
